* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

:root {
  --primary-color: #dd4c93;
  --secondary-color: #ffaebc;
  --hover-color: #866bac;
  --text-color: #ffffff;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(203, 8, 155);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    rgb(252, 115, 156) 0%,
    rgb(139, 102, 241) 100%
  );
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

body {
  font-family: 'Lilita One', sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.dark-mode {
  background-color: #000;
}

.darkmode-button {
  background: linear-gradient(
    90deg,
    rgb(252, 115, 156) 0%,
    rgb(139, 102, 241) 100%
  );
  color: var(--text-color);
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
  border-radius: 50px;
}
/* Header */
.container-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: fixed;
  top: 0%;
  z-index: 1;
  width: 100%;
  height: auto;
  background-color: var(--primary-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 0.1rem;
  width: 100%;
}

.progress-container {
  display: block;
  width: 100%;
  height: 8px;
  background: var(--text-color);
}

.progress-bar {
  height: 8px;
  background: linear-gradient(
    90deg,
    rgb(252, 115, 156) 0%,
    rgb(139, 102, 241) 100%
  );
  width: 0%;
}

/* Header Left Section */
.logo {
  width: 200px;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.5s;
}

.logo:hover {
  transform: scale(1.1);
}

/* Navigation Middle Section*/
.navigation {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: nowrap;

  & .navigation__link {
    margin-right: 3rem;
    font-size: 1.5rem;
    position: relative;

    & a {
      color: var(--text-color);
    }

    & a:hover {
      color: var(--hover-color);
    }

    & a i {
      color: var(--secondary-color);
      font-size: 1rem;
      position: absolute;
      top: -4px;
      right: -20px;
    }
  }
}

/* Header Right Section */
.header-right {
  display: flex;
  gap: 2rem;

  /* Hamburger Icon menu for small screen */
  & .hamburger {
    display: none;
    cursor: pointer;

    & .xmark {
      display: none;
    }
  }
}

/* Cart Quantity Icon */
.icon--cart {
  margin-right: 3rem;

  & i {
    color: var(--text-color);
    position: relative;
  }

  & i:hover {
    color: var(--hover-color);
  }

  & i span {
    position: absolute;
    top: -25px;
    right: -18px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 0.8rem;
    color: var(--primary-color);
  }
}

/* Responsive Header */
 @media screen and (max-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between; 
  }

  .navigation {
    display: none;
  }

  .header .logo {
    width: 120px;
    padding-left: 0.5rem;
  }

  .header-right {
    display: flex;
    gap: 0;
    
   
    & .hamburger {
      display: block;
      padding-right: 2rem;
    }
  } 

@media (max-width: 425px) {
  .header .logo {
    display: none;
  }

  .header-right {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    padding: 1.5rem;
    
    & .hamburger {
      padding-right: 0.1rem;
    }
  }
}

/* Main */

hr {
  border: 1px solid var(--primary-color);
  width: 100%;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 1rem 0;
  background: var(--primary-color);
}

.footer .row {
  display: flex;
  justify-content: space-around;
}

.footer .col {
  display: flex;
  flex-direction: column;
}

.footer .col h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer .col a {
  padding: 0.5rem;
  font-weight: 300;
  line-height: 0.5rem;
  transition: all 300ms linear;
}

.footer .col a:hover {
  background: linear-gradient(
    90deg,
    rgb(236, 232, 234) 0%,
    rgb(139, 102, 241) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 15px;
  transform: scale(1.1);
}

.footer .copy {
  border-radius: 15px;
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
  margin: 2rem auto;
}

.footer .copy p {
  margin: 1rem;
}

.footer .icons a {
  margin: 0.5rem;
}

.footer .icons i:hover {
  color: var(--hover-color);
}

.footer p a {
  font-weight: 800;
  background: linear-gradient(
    90deg,
    rgb(252, 115, 156) 0%,
    rgb(139, 102, 241) 100%
  );
  padding: 0.5rem;
  border-radius: 15px;
}

.footer p a:hover {
  background: none;
  color: var(--hover-color);
  background-color: var(--text-color);
}
}

@media only screen and (max-width: 568px) {
  .footer .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer .col {
    margin-bottom: 2rem;
    text-align: center;
  }

  .footer a {
    font-size: 1.1rem;
  }

  .footer .col i {
    font-size: 2rem;
  }

  .footer .copy {
    width: 90%;
    margin: 0 auto;
  }
}
