* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

:root {
  --primary-color: #dd4c93;
  --secondary-color: #ffaebc;
  --hover-color: #866bac;
  --text-color: #ffffff;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(203, 8, 155);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    rgb(252, 115, 156) 0%,
    rgb(139, 102, 241) 100%
  );
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

body {
  font-family: 'Lilita One', sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.dark-mode {
  background-color: #000;
}

.darkmode-button {
  background: linear-gradient(
    90deg,
    rgb(252, 115, 156) 0%,
    rgb(139, 102, 241) 100%
  );
  color: var(--text-color);
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
  border-radius: 50px;
}
/* Header */
.container-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: fixed;
  top: 0%;
  z-index: 1;
  width: 100%;
  height: auto;
  background-color: var(--primary-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 0.1rem;
  width: 100%;
}

.progress-container {
  display: block;
  width: 100%;
  height: 8px;
  background: var(--text-color);
}

.progress-bar {
  height: 8px;
  background: linear-gradient(
    90deg,
    rgb(252, 115, 156) 0%,
    rgb(139, 102, 241) 100%
  );
  width: 0%;
}

/* Header Left Section */
.logo {
  width: 80px;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.5s;
}

.logo:hover {
  transform: scale(1.1);
}

/* Navigation Middle Section*/
.navigation {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: nowrap;

  & .navigation__link {
    margin-right: 3rem;
    font-size: 1.2rem;
    position: relative;

    & a {
      color: var(--text-color);
    }

    & a:hover {
      color: var(--hover-color);
    }

    & a i {
      color: var(--secondary-color);
      font-size: 0.8rem;
      position: absolute;
      top: -4px;
      right: -20px;
    }
  }
}

/* Header Right Section */
.header-right {
  display: flex;
  gap: 2rem;

  /* Hamburger Icon menu for small screen */
  & .hamburger {
    display: none;
    cursor: pointer;

    & .xmark {
      display: none;
    }
  }
}

/* Cart Quantity Icon */
.icon--cart {
  margin-right: 3rem;

  & i {
    color: var(--text-color);
    position: relative;
    font-size: 1.5rem;
  }

  & i:hover {
    color: var(--hover-color);
  }

  & i span {
    position: absolute;
    top: -20px;
    right: -13px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 50%;
    padding: 0.3rem;
    font-size: 0.8rem;
    color: var(--primary-color);
  }
}

/* Responsive Header */
 @media screen and (max-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between; 
  }

  .navigation {
    display: none;
  }

  .header .logo {
    width: 80px;
    padding-left: 0.5rem;
  }

  .header-right {
    display: flex;
    gap: 0;
    
   
    & .hamburger {
      display: block;
      padding-right: 2rem;
      font-size: 1.5rem;
    }
  } 
  }


@media (max-width: 425px) {
  .header .logo {
    display: none;
  }

  .header-right {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
    padding: 1rem;
    
    & .hamburger {
      padding-right: 0.1rem;
    }
  }
}

/* Main */

/* Category Section */
.section {
  padding: 1rem 0;
  overflow: hidden;

  & .cat-center {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 120rem;
    margin: auto;
    padding: 0 3rem;
    margin-right: 3rem;

    & .cat {
      max-width: 35rem;
      height: 30rem;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      text-align: center;
      margin-left: 1rem;

      & img {
        max-width: 400px;
        width: 50rem;
        height: 100%;
        margin: auto;
        object-fit: cover;
        transition: all 2s ease;
      }

      & div {
        position: absolute;
        bottom: 1%;
        left: 50%;
        transform: translateX(-50%);
        width: 12rem;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        font-size: 1.2rem;
        border-radius: 50px;
        font-weight: 500;
        background-color: rgba(221, 76, 147, 0.8);
      }
    }
  }
}

.cat-center .cat:hover img {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {

  .container {
    padding: 150px 0;
  }
  .section {
    padding: 1rem 0;

    & .cat-center {
      display: flex;
      flex-direction: column;
      margin: 0 auto;

      & .cat {
        margin-bottom: 2rem;

        & div {
          width: 50%;
          height: 3rem;
          line-height: 3rem;
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 567px) {
  .container {
    padding: 200px 0;
  }
}

@media screen and (max-width: 425px) {
  .container {
    padding: 160px 0;
  }
  .section {
    padding: 0;

    & .cat-center {
      display: flex;
      flex-direction: column;
      margin: 0 auto;

      & .cat {

        & .hero__content {
          font-size: 1rem;
        }

        & img {
          width: 100%;
          height: 300px;
        }

        & div {
          width: 100%;
          line-height: 3rem;
          font-size: 1.2rem;
        }
      }
    }
  }
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 1rem 0;
  background: var(--primary-color);
}

.footer .row {
  display: flex;
  justify-content: space-around;
}

.footer .col {
  display: flex;
  flex-direction: column;
}

.footer .col h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer .col a {
  padding: 0.5rem;
  font-weight: 300;
  line-height: 0.5rem;
  transition: all 300ms linear;
}

.footer .col a:hover {
  background: linear-gradient(
    90deg,
    rgb(236, 232, 234) 0%,
    rgb(139, 102, 241) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 15px;
  transform: scale(1.1);
}

.footer .copy {
  border-radius: 15px;
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
  margin: 2rem auto;
}

.footer .copy p {
  margin: 1rem;
}

.footer .icons a {
  margin: 0.5rem;
}

.footer .icons i:hover {
  color: var(--hover-color);
}

.footer p a {
  font-weight: 800;
  background: linear-gradient(
    90deg,
    rgb(252, 115, 156) 0%,
    rgb(139, 102, 241) 100%
  );
  padding: 0.5rem;
  border-radius: 15px;
}

.footer p a:hover {
  background: none;
  color: var(--hover-color);
  background-color: var(--text-color);
}


@media only screen and (max-width: 568px) {
  .footer .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer .col {
    margin-bottom: 2rem;
    text-align: center;
  }

  .footer a {
    font-size: 1.1rem;
  }

  .footer .col i {
    font-size: 2rem;
  }

  .footer .copy {
    width: 90%;
    margin: 0 auto;
  }
}


/* Popup */
.popup {
  position: fixed;
  top: 30%;
  left: 0;
  width: 100%;
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  transition: 0.3s;
  transform: scale(1);
}

.popup-content {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  height: 35rem;
  transform: translate(-50%, -50%);
  padding: 1rem;
  display: table;
  overflow: hidden;
  background-color: var(--hover-color);
}

.popup-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 1rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
}

.popup-close {
  font-size: 2rem;
  color: var(--text-color);
}

.popup-left {
  display: table-cell;
  width: 60%;
  height: 60%;
  vertical-align: middle;
  padding: 1rem;
}

.popup-right {
  display: table-cell;
  width: 40%;
  vertical-align: middle;
  padding: 1rem;
}

.popup-img-container {
  width: 100%;
  overflow: hidden;
}

.popup-img-container img.popup-img {
  display: block;
  width: 40rem;
  height: 25rem;
  max-width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.right-content {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

.right-content h2 {
  font-size: 2.5rem;
  color: var(--text-color);
  margin-bottom: 1.6rem;
}

.right-content h2 span {
  color: var(--primary-color);
}

.right-content p {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 1.8rem;
  padding: 0 3rem;
}

.popup-form {
  width: 50%;
  padding: 1.2rem 0;
  text-indent: 1rem;
  margin-bottom: 1.6rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 1rem;
  border: none;
  text-align: center;
}

.popup-form::placeholder {
  color: var(--text-color);
}

.popup-form:focus {
  outline: none;
}

.right-content a {
  font-size: 1rem;
}

.right-content a:link,
.right-content a:visited {
  display: inline-block;
  padding: 1.2rem 2rem;
  border-radius: 3rem;
  font-weight: 700;
  color: var(--text-color);
  background: linear-gradient(
    90deg,
    rgb(252, 115, 156) 0%,
    rgb(139, 102, 241) 100%
  );
  border: 1px solid var(--secondary-color);
  transition: 0.3s;
}

.right-content a:hover {
  transform: scale(1.1);
}

.hide-popup {
  transform: scale(0.2);
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 1440px) {
  .popup {
    width: 70%;
    height: 30rem;
    left: 15%;

  }
  .popup-content {
    height: 30rem;
  }

  .popup-right .right-content {
    width: 100%;
  }

  .popup-img-container img.popup-img {
    width: 30rem;
    height: 20rem;
    padding-left: 3rem;
  }

  

  .right-content h2 {
    font-size: 2rem;
  }

  .right-content p {
    font-size: 1.2rem;
  }

  .popup-form {
    width: 60%;
  }

  .right-content a {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1024px) {
  .popup {
    width: 90%;
    height: 20rem;
    left: 5%;
  }
  .popup-content {
    height: 30rem;
  }

  .popup-close {
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
  }

  .popup-img-container img.popup-img {
    width: 30rem;
    height: 20rem;
    padding-left: 0;
  }

  .right-content h2 {
    font-size: 1.5rem;
  }

  .right-content p {
    font-size: 1.2rem;
  }

  .popup-form {
    width: 60%;
  }

  .right-content a {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  .poppu {
    display: none;
  }
}